h1 {      
        font-family:fantasy;
        font-size: 5em;
        text-align: center;


}

p { 
        font-family: fantasy;
        font-size: 2em;
        text-align: center;
        


}


div {
            text-align: center;
            font-size: 1.5em;
 
        }


input {  
         padding: 2em;

}

fieldset {
          flex-direction: column;
          display: inline;
          margin: 3em;
}

button {
     
          padding: 2em;

}
nav { 
        float: right;
}


